{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}
  <h1>Empresas</h1>

  <a href="{% url 'core:empresa_add' %}" id="empresa_add">
      <button type="button" class="btn btn-primary">
        <span class="fa fa-plus"></span> Cadastrar
    </button>
  </a>

  {% if empresas %}
    <table class="table" >
        <thead>
          <tr>
            <th>Nome da Empresa</th>
            <th>Descrição da Empresa</th>
          </tr>
        </thead>
        <tbody>
          {% for empresa in empresas %}
            <tr>
              <td><span class=""></span> {{ empresa.name }}</td>
              <td><span class=""></span> {{ empresa.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
  {% else %}
    <p class="lead alert alert-warning">Nenhuma empresa cadastrado</p>
  {% endif %}


{% endblock content %}